name: Check markdown files

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use nodejs
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Lint markdowns
      uses: nosborn/github-action-markdown-cli@v1.1.1
      with:
        files: .

    - name: Check Spelling
      run: |
        npm install -g markdown-spellcheck
        mdspell --ignore-numbers --ignore-acronyms --report --en-us ./*.md
        
    - name: Check goodness of writing
      run: |
        npm install -g write-good
        npx write-good *.md
